/src/renderer/js/iconfont.js
/src/renderer/js/**/*
/src/renderer/components/task/task.vue
/src/renderer/router/index.js
/src/renderer/components/device/device.vue
/src/renderer/components/0/0.vue
/src/renderer/objJS/unitConversion.js
/src/main/modbus/sendData.js
/src/renderer/store/modules/global.js
/src/renderer/components/task_record_template/base/baseTop/manualDevice.vue
/src/renderer/components/monitoring/monitoringP.vue
