@keyframes fadein {
  form { opacity: 0.5; }
  to { opacity: 1; }
}
@keyframes fadein2 {
  form { opacity: 1; }
  to { opacity: .5; }
}

// 路由切换过度动画
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
