html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select, section, header, main, button,
{
  margin:0;
  padding:0;
  border: 0;
}
// ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, i, span, th, td{
//   // 这个数据多触摸屏软键盘影响较大
//   user-select: none;
// }

li{list-style:none}

img{vertical-align:top;border:none}
html,
body,
#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden;
}
.wh100{
  height: 100%;
  width: 100%;
}
