.init {
  margin:0;
  padding:0;
  border: 0;
}
.wh100{
  height: 100%;
  width: 100%;
  header, main, footer{
    margin: 0;
    padding: 0;
  }
}
.w{
  width: 100%;
}
.h100{
  height: 100%;
}

div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select, section, header, main, button,
{
  @extend .init;
}

// ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, i, span, th, td{
//   // 这个数据多触摸屏软键盘影响较大
//   user-select: none;
// }

li{list-style:none}

img{vertical-align:top;border:none}
html,
body,
#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  @extend .init;
  @extend .wh100;
  // overflow: hidden;
}
#app {
  main{
    background-color: white;
  }
}
// 布局样式
.row-flex{
  display: flex;
  &>div{
    flex:1;
  }
}
.flex-column{
  height: 100%;
  display: flex;
  flex-direction: column;
}
// 居中
.flex-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  background-color: #555;
}

// 设备样式
// '#ff3333', '#ff33cc', '#00cc33', '#00cccc'
@each $name, $color in (A1, #ff3333), (A2, #ff33cc), (B1, #00cc33), (B2, #00cccc) {
  .#{$name}{
    color: $color;
    .el-input--small .el-input__inner{
      color: $color;
    }
  }
}
// 输入框样式
.el-input--small .el-input__inner{
  font-size: 20px;
  padding-left: 5px;
}
// 带边框单选框
.el-radio--small.is-bordered .el-radio__label{
  font-size: 20px;
  line-height: 0.7;
}
// 单选框
.el-radio-button--small .el-radio-button__inner{
  font-size: 20px;
}
// 带边框多选框
.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__label{
  line-height: 20px;
  font-size: 20px;
}
// .A1{
//   color: #ff3333;
// }
